<h1>New Article</h1>
<hr>

<%= render "form", article: @article %>
<%# <%= form_with url: "/articles/new", method: :post do |form| %>
<%# <div class= "field">
    <%= form.label :title %>
    <%# <%= form.text_field :title %>
<%# </div>
<div class= "field">
    <%= form.label :body %>
    <%# <%= form.text_field :body %>
<%# </div>
<div class= "actions">
    <%= form.submit "Publish" %>
<%# </div>
<% end %> %> %> %> %> %> %> %>
